<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->


<div style="text-align: center">
  <h1> Welcome to Online Dance Practice</h1>

  <div>
    <button routerLink="/content">Click for ContentType </button>
  </div>


  <router-outlet></router-outlet>
</div>
