<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-audio-input [pathMp3]="'beispiel'" ></app-audio-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->
<!--<app-video-input [pathMp4]="'beispiel'"></app-video-input>-->


<!DOCTYPE html>
<html>
<head>
  <title>Online Dance Practice</title>
</head>
<body>

<nav>
  <ul>
    <li><a routerLink="/level-wrapper" routerLinkActive="active">Level</a></li>
    <li><a routerLink="/course-wrapper" routerLinkActive="active">Course</a></li>
    <li><a routerLink="/content-component" routerLinkActive="active">Content</a></li>
  </ul>
</nav>

<h1>Dance Practice App</h1>

<router-outlet></router-outlet>

<video><source [src]="videoSource"></video>

</body>
</html>
