
//menu
button {
  font-style: normal;
  font-family: Arial, 'light';
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  letter-spacing: 2px;
}

#menucontainer {
  background-color: #038f80;
  margin-bottom: 4%;
  display: flex;
  color: white;
  font-family: Arial, 'light';
}

button:hover {
  background-color: white;
  transition: all .25s ease-in-out;
  border-radius: 25px;
  color: #038f80;
}


