<nav>
  <ul>
    <li><a routerLink="/level-wrapper" routerLinkActive="active">Level</a></li>
    <li><a routerLink="/course-wrapper" routerLinkActive="active">Course</a></li>
    <li><a routerLink="/content-component" routerLinkActive="active">Content</a></li>
  </ul>
</nav>

<h1>Dance Practice App</h1>

<router-outlet></router-outlet>

<div >
<audio controls *ngIf="audioSource" ><source [src]="audioSource">Your browser does not support the audio tag.</audio>
</div>
<video width="320" height="240" controls *ngIf="videoSource">
  <source [src]="videoSource" type="video/mp4">
  Your browser does not support the video tag.
</video>
