
table tr:not(:first-child) {
  cursor: pointer;
  transition: all .25s ease-in-out;
}

table tr:not(:first-child):hover {
  background-color: #ddd;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  border-radius: 10% ;
  width: 10%;
  margin-left: 5%;
}

th, td {
  padding: 15px;
  font-style: normal;
  font-family: Arial, 'light';
}

input {
  margin-left: 5%;
}

h1 {
  margin-left: 3%;
  font-style: normal;
  font-family: Arial, 'light';
}
