<!--Menu-->
<div id="menucontainer">
  <button [matMenuTriggerFor]="aboveMenu" mat-button routerLink="/manage/manage-course">Kurse verwalten</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
  </mat-menu>

  <button [matMenuTriggerFor]="belowMenu" mat-button routerLink="/manage/manage-accesstoken">Accesstoken</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
  </mat-menu>

  <button [matMenuTriggerFor]="beforeMenu" mat-button routerLink="media">media</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
  </mat-menu>
</div>

<div id="form">
  <form (ngSubmit)="submit()">
    <p>
      Wählen Sie eine Datei aus : <input type="file" (change)="onFileSelect($event)" name="uploadedFile"/>
    </p>
    <button mat-button type="submit">submit</button>
  </form>
</div>
