<!--Menu-->
<div id="menucontainer">
  <button mat-button routerLink="/manage">Verwalten</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
  </mat-menu>
</div>

<!--Level Tabelle-->
<div class="flexContainer">
  <div class="content-head-container">
    <h1>Level</h1>
    <h2>Wähle dein Level aus</h2>
  </div>

  <div class="content-body">
    <table *ngIf="levels">
      <tr>
        <td *ngFor="let level of levels"
            routerLink="{{level.id.toLowerCase()}}/courses">{{level.description}}</td>
      </tr>
    </table>
  </div>
</div>
