mat-card {
  margin: 3%;
}


h1 {
  font-style: normal;
  font-family: Arial, 'light';
  font-size: 20px;
}

#desc{
  background-color: green;
  margin-top: 50px;
}


mat-card-header {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: -20px;
}

mat-card-content {
  padding: 50px;
}
